{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class=" col-md-2">
		&nbsp;
	</div>


<div class=" col-md-8">
     <div class="alert alert-danger">{{ form.new_password1.errors }}</div>
        {% if form.errors %}
        <div class="alert alert-danger">{{ form.new_password1.errors }}</div>
        {% endif %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>密码重设</b>
      </div>
      <div class="panel-body">
        <form method="post" action="">{% csrf_token %}
          <div class="input-group">
              <span class="input-group-addon">新密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_new_password1" name="new_password1" type="password" class="form-control">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon">确认密码</span>
              <input id="id_new_password2" name="new_password2" type="password" class="form-control">
          </div>
          <br>
          <input type="submit" class="btn btn-primary" value="确认">
        </form>
      </div>
    </div>


</div>
    </div>
{% endblock %}