{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class=" col-md-2">
		&nbsp;
	</div>
	<div class=" col-md-8">
		<ol class="breadcrumb">
			<li><a href="{% url 'block_list' %}">首页</a></li>
			<li><a class="active" href="{% url 'article_list' b.id %}">{{b.name}}</a></li>
			<li>发表文章</li>
		</ol>

		<table class="table table.bordered">
            <tr>
                <form class="form-horizontal" method="POST" action=""> {% csrf_token %}
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title"
                                   placeholder="请输入标题">
                        </div>

                        <label for="inputContent" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="content"
                            placeholder="请输入内容"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">发表</button>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info">{{ message }} </div>
                    {% endfor %}
                    {% endif %}
                </form>

            </tr>

		</table>

	</div>
</div>

{% endblock %}