<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重大论坛</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<div class="container">
    <div class="row">
        <div class=" col-md-2">
            &nbsp;
        </div>
        <div class=" col-md-8">
            <div class="jumbotron">
                <div class="logotxt"><center><h1><font face="微软雅黑">重大论坛</font></h1></center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-2">
            &nbsp;
        </div>
        <div class=" col-md-8">
            <ol class="breadcrumb">
                <li><a href="{% url 'block_list' %}">首页</a></li>
                <li class="active">{{c.name}}</li>
            </ol>
            <table class="table table.bordered">
                <tr>
                    <th>状态</th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>最后更新时间</th>
                </tr>
                {% for a in articles %}
                <tr>
                    <td>{{a.get_status_display}}</td>
                    <td>{{a.title}}</td>
                    <td>{{a.owner}}</td>
                    <td>{{a.last_update_timestamp|date:"Y-m-d P"}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-2">
            &nbsp;
        </div>
    </div>
</div>
</body>
</html>