<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>民主湖论坛</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<div class="container">
    <div class="row">
        <div class=" col-md-2">
            &nbsp;
        </div>
        <div class=" col-md-8">
            <div class="jumbotron">
                <div class="logotxt"><center><h1><font face="微软雅黑">重大论坛</font></h1></center>
                </div>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
    <div class="row">
        <div class=" col-md-2">
            &nbsp;
        </div>
    </div>
</div>
</body>
</html>