{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class=" col-md-2">
		&nbsp;
	</div>
	<div class=" col-md-8">
        {% if error %}{{error}}{% endif %}
<div class="panel panel-info">
        <div class="panel-heading">
          <b>注册</b>
        </div>
        <div class="panel-body">
          <form method="post" action="/usercenter/register">{% csrf_token %}
          <div class="input-group">
              <span class="input-group-addon">用户名&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_username" maxlength="254" name="username" type="text" class="form-control">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon">邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_email" name="email" type="text" class="form-control">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon">密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_password" name="password" type="password" class="form-control">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon">确认密码</span>
              <input id="id_re_password" name="re_password" type="password" class="form-control">
          </div>
          <br>
          <input type="submit" class="btn btn-primary" value="注册">
          </form>
        </div>
        <div class="panel-footer">
          <a href="/accounts/login/">已有账户?去登陆...</a>
        </div>
      </div>
        </div>

  </div>


{% endblock %}